body {
  background-color: #282D35;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

.nav--h3, .nav--h4 {
  margin: 0;
}

.nav--logo {
  height: 30px;
  margin: 7px;
}

.nav--h3 {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

.nav--h4 {
  color: #DEEBF8;
  font-weight: 600;
}

.main {
  padding: 57px 27px;
  color: #FFFFFF;
  background-image: url('./images/bg-image.png');
  background-repeat: no-repeat;
  background-position: right 75%;
}

.main--h1 {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.05em;
}

.main--list {
  margin-top: 46px;
  font-weight: 400;
  font-size: 16px;
}

.main--list > li {
  padding-block: 10px;
  line-height: 19px;
  max-width: 400px;
}

.main--list > li::marker {
  font-size: 1.4rem;
  color: #61DAFB;
}
